###############################################################################
## default files
###############################################################################

tmp/*
!tmp/README.md
cache/
**/*.iml
.~lock*
.history
.env
.venv
.idea
.vscode
*.cache
*.retry
*.pyc
*.csv
**/.DS_Store
**/.swp

###############################################################################
## Ansible
###############################################################################

.ansible
*.retry
.vault_pass
