{# Create dict_env_var #}
{% set dict_env_var = {} %}
{# Start to populate dict_env_var #}
{% if default is defined and default is not none %}
  {% for key, value in default.items() %}
    {% set test = dict_env_var.update({key: value}) %}
  {% endfor %}
{% endif %}
{####}
{% if environments.prod is defined and environments.prod %}
  {% if prod is defined and prod is not none %}
    {% for key, value in prod.items() %}
{% set test = dict_env_var.update({key: value}) %}
    {% endfor %}
  {% endif %}
{% elif environments.dev is defined and environments.dev %}
  {% if dev is defined and dev is not none %}
    {% for key, value in dev.items() %}
      {% set test = dict_env_var.update({key: value}) %}
    {% endfor %}
  {% endif %}
{% endif%}

{# Generate output based on dict_env_var #}
{% for key, value in dict_env_var.items() %}
{% if value is not none and value != "" %}
{{key}}={% if value==false or value==true%}{{ value | lower}}{% else %}{{ value }}{% endif %}

{% endif %}
{% endfor %}
